/* $Id$ */
div.drigg-img-select div.form-item {
  text-align: center;
  float: none;
  display: inline;
  width: 85px;
}

div.drigg-img-select label.option img {
  /* margin: 3px;*/
  padding: 5px;
	max-width: 80px;
  /*border: 4px #E1E1E1 solid;*/
}

div.drigg-img-select label.option img.dimg-hover {
  border: 4px #7BFF57 solid;
  padding: 1px;
  cursor: pointer;
}

body div.drigg-img-select label.option img.dimg-select {
  border: 4px #FF0000 solid;
  padding: 1px;
}

#drigg-img-selection-loading {
  display: none;
  background: url('loading.gif') top left no-repeat;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 0;
  position: relative;
  top: 0%;
  left: 45%;
}
